.pagination>li:last-child>a, .pagination>li:last-child>span {
     border-top-right-radius: 0px !important; 
     border-bottom-right-radius: 0px !important; 
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0 !important; 
    border-top-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important; 
}
div.wpcf7-validation-errors {
    border: 2px solid #000 !important;
    color: red !important;
	margin-top: 0px !important;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #04b1b5 !important;
	margin-top: 0px !important;
}
.error_message{
	border: 2px solid red !important;
}
.upper_social_links.social_links{
top:105%;
}
@media screen and (min-width: 1024px)and (max-width: 1366px){
.upper_social_links.social_links {
    right: 18% !important;
    top: 125%;
}
}